<!--   
<%#@users.each do |user| %>
<%#= user.name %> 
<%#= link_to root_url(:subdomain => user.name), root_url(:subdomain => user.name) %>
<%#end %>
   -->

<div ng-controller="IndexCtrl">
   <h1 class="text-center">Sample Application</h1>

	<h2>{{ title }}</h2>
  <p>{{ content }}</p>
	</br>
</div>

	